<!DOCTYPE html>
<html>
  <head>
    <title>Better That</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="stylesheets/application.css">
  </head>


<div  class='topside' style="position: sticky; top: 0;">

<div class="banner">

    <img class='searchicon' src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png" alt="search">

<a href="/"><img class='logo' src="https://betterthat.com/img/logo_dark.png" alt="logo here"></a>

    <div class='login'>
      <% if @current_user.present? %>
        <%= link_to "Users", users_path if @current_user.admin? %>
        <p>Logged in as <%= @current_user.email %></p>
        <%= link_to "Logout #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
      <div class='signup'>
        <%= link_to "Sign up", new_user_path %>
      </div>

      <div class="signin">
        <%= link_to "Sign in", login_path %>
      </div>
      <% end %>
      <img class='bag' src="https://betterthat.com/img/bagicon.jpg" alt="bag">
    </div>
</div>
<nav><a href="#"></a>
  <div class='navitem Women'><a href="/pages/women">Women</a></div>
  <div class='navitem Men'><a href="/pages/men">Men</a></div>
  <div class='navitem Kids'><a href="/pages/kids">Kids</a></div>
  <div class='navitem Home'><a href="/pages/homeware">Homeware</a></div>
  <div class='navitem Beauty'><a href="/pages/beauty">Beauty</a></div>
  <div class='navitem Sports'><a href="/pages/sports">Sports</a></div>
  <div class='navitem Electronics'><a href="/pages/electronics">Electronics</a></div>
  <div class='navitem Toys'><a href="/pages/toys">Toys</a></div>
  <div class='navitem Brands'><a href="/pages/brands">Brands</a></div>
  <div class='navitem Stores'><a href="/pages/stores">Stores</a></div>
  <div class='navitem GoodCauses'><a href="/pages/good_causes">Good Causes</a></div>
</nav>
</div>
  <body>
    <%= yield %>
  </body>
</html>
